/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache

!/vendor/jeroennoten/laravel-adminlte/resources/views/partials/navbar/menu-item-dropdown-user-menu.blade.php
!/vendor/jeroennoten/laravel-adminlte/resources/lang/es/adminlte.php
!/vendor/jeroennoten/laravel-adminlte/resources/views/auth/login.blade.php
!/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/views/403.blade.php

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
vendor
composer.lock
!/public/assets
!/public/assets/*
/public/css
/public/js
